* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  --powder-blue: #6689A1;
  --powder-pink: #FFBBBB;
  --powder-orange: #FFDBAC;
  --powder-yellow: #E9EBC6;
  background-color: white;
}

.site {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Delius";
  src: url("./assets/fonts/DeliusSwashCaps-Regular.ttf");
}

h1, h2, h3, h4, h5, h6, p, li {
  font-family: "Poppins-Regular";
  color: white;
}

ul {
  list-style-type: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center-column {
  display: flex;
  align-items: center;
}

.center-row {
  display: flex;
  justify-content: center;
}

.invisible {
  visibility: hidden;
}

button {
  border: none;
}