* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  --powder-blue: #;
  --powder-pink: #;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Delius";
  src: url("./assets/fonts/DeliusSwashCaps-Regular.ttf");
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Poppins-Regular";
}

ul {
  list-style-type: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}