/* This file should only contain CSS that applies to components */
.headerBlue {
    background-color: var(--powder-blue);
    display: flex;
    align-items: center;
}

/* Title component */
#title {
    font-family: "Delius";
    font-size: 4rem;
}

#titleList {
    display: flex;
    justify-content: end;
    width: 100vw;
    position: relative;
    padding: 0 4rem;
}

#titleList>li:first-child {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#titleList > li:nth-child(2) {
    padding: 0 4rem;
}

.title {
    height: 8rem;
    border-bottom: 2px solid #62849B;
}

#basket {
    font-size: 32px;
}

/* Nav component */
.nav {
    height: 4.75rem;
}

#navList {
    width: 100vw;
    justify-content: space-around;
    padding: 0 18%;
}

#navList > li {
    margin: 0 1rem;
}

/* Item component */
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    flex: 1 1 calc(33.33% - 10px); /*This line courtesy of ChatGPT*/
    max-width: calc(33.33% - 10px); /*This line courtesy of ChatGPT*/
}

.item > img {
    width: 25rem;
}

.item > h3 {
    color: black;
    font-size: 2rem;
    margin: 32px 0 14px 0;
}

.item > p {
    color: black;
    font-size: 1rem;
}